<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="res/img/galogo.png">

    <title>广安资金管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    <link href="res/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="res/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="res/assets/bootstrap-datepicker/css/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="res/assets/bootstrap-datetimepicker/css/datetimepicker.css"/>
    <!--<link rel="stylesheet" href="res/css/owl.carousel.css" type="text/css">-->
    <!-- Custom styles for this template -->
    <link href="res/css/style.css" rel="stylesheet">
    <link href="res/css/style-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="res/js/html5shiv.js"></script>
    <script src="res/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<section id="container">
    <!--头部 start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><span>资金台账明细查询</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="username" th:text="${u}"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{/FinancialManual(fid=1,sid=1)}"><i class=" icon-tasks"></i>财务管理手册</a></li>
                        <li><a href="#"><i class=" icon-download-alt"></i>明细模板下载</a></li>
                        <li><a href="#"><i class=" icon-cog"></i>设置</a></li>
                        <li><a href="doLogout"><i class="icon-key"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--头部 end-->

    <!--侧边栏 start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- 侧边栏菜单 start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a th:href="@{/index}">
                        <i class="icon-dashboard"></i>
                        <span>主页</span>
                    </a>
                </li>

                <!--资金台账 start-->
                <li class="sub-menu">
                    <a href="javascript:;" class="active">
                        <i class="icon-tasks"></i>
                        <span>资金台账</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/CapitalDetailInput}">资金台账录入</a></li>
                        <li class="active"><a th:href="@{/CapitalDetailQuery}">资金台账查询</a></li>
                        <li><a th:href="@{/CapitalDetailTotalQuery}">资金台账汇总查询</a></li>
                    </ul>
                </li>
                <!--资金台账 end-->

                <!--资金预算 start-->
                <!--<li class="sub-menu">-->
                <!--<a href="javascript:;" >-->
                <!--<i class="icon-book"></i>-->
                <!--<span>资金预算</span>-->
                <!--</a>-->
                <!--<ul class="sub">-->
                <!--<li><a  th:href="@{/CapitalBudgetInput}">资金预算录入</a></li>-->
                <!--<li><a  th:href="@{/CapitalBudgetQuery}">资金预算明细查询</a></li>-->
                <!--<li><a  th:href="@{/CapitalBudgetTotalQuery}">资金预算汇总查询</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--资金预算 end-->
            </ul>
            <!-- 侧边栏菜单 end-->
        </div>
    </aside>
    <!--侧边栏 end-->


    <section id="main-content">
        <section class="wrapper">
            <!--date picker start-->
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            请填写详细信息:
                            </span>
                        </header>
                        <div class="panel-body">
                            <form action="#" class="form-horizontal tasi-form">
                                <!--选择时间-->
                                <div class="form-group">
                                    <label class="control-label col-md-1">选择日期:</label>
                                    <div class="col-md-2 col-xs-10">
                                        <input class="form-control form-control-inline input-medium default-date-picker"
                                             id="sltDate"  size="16" type="text" value=""/>
                                    </div>

                                    <label class="control-label col-md-1" style="text-align: right">银行账号:</label>
                                    <div class="col-md-2">
                                        <select class="form-control m-bot15" id="sltAccName">
                                            <option th:each="acc:${liAcc}" th:value="${acc.id}"
                                                    th:text="${acc.account}"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-1 pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" id="btnQuery">
                                                查询
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div class="panel-body">
                                                <section id="flip-scroll">
                                                    <table class="table table-bordered table-striped table-condensed cf"
                                                           id="dtQuery">
                                                        <thead class="cf">
                                                        <tr>
                                                            <th>交易日期</th>
                                                            <th class="numeric">借方发生额</th>
                                                            <th class="numeric">贷方发生额</th>
                                                            <th class="numeric">余额</th>
                                                            <th>对方账号</th>
                                                            <th>对方户名</th>
                                                            <th>是否对外</th>
                                                            <th>是否现金</th>
                                                            <th>交易摘要</th>
                                                            <th>摘要</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="detail:${liDetail}">
                                                                <td th:text="${detail.transDate}"></td>
                                                                <td th:text="${detail.debitAmount}"></td>
                                                                <td th:text="${detail.creditAmount}"></td>
                                                                <td th:text="${detail.balance}"></td>
                                                                <td th:text="${detail.reciprocalAccount}"></td>
                                                                <td th:text="${detail.reciprocalName}"></td>
                                                                <td th:text="${detail.outOrIn}"></td>
                                                                <td th:text="${detail.isCash}"></td>
                                                                <td th:text="${detail.tradeSummary}"></td>
                                                                <td th:text="${detail.summary}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </section>
                                    </div>
                                </div>


                            </form><div class="form-group">
                            <label class="col-sm-1 control-label" >期初余额</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtStart" disabled>
                            </div>

                            <label class="col-sm-1 control-label" >借方总额</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtDebit" disabled>
                            </div>

                            <label class="col-sm-1 control-label" >贷方总额</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtCredit" disabled>
                            </div>

                            <label class="col-sm-1 control-label" >期末余额</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtEnd" disabled>
                            </div>
                        </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--date picker end-->
        </section>
    </section>

</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="res/js/jquery-1.8.3.min.js"></script>
<script src="res/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="res/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="res/js/jquery.scrollTo.min.js"></script>
<script src="res/js/jquery.nicescroll.js" type="text/javascript"></script>
<script type="text/javascript" src="res/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="res/assets/data-tables/DT_bootstrap.js"></script>
<script src="res/js/respond.min.js"></script>

<script type="text/javascript" src="res/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="res/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

<!--common script for all pages-->
<script src="res/js/common-scripts.js"></script>
<!--script for this page only-->
<script src="res/js/advanced-form-components.js"></script>

<script>
    $('#btnQuery').click(
        function() {
            var date = $('#sltDate').val();
            var accNum = $('#sltAccName option:selected').text();

            $.ajax({
                type: "GET",
                url: "/CapitalDetail",
                data: {'date': date, 'accnum': accNum},
                dataType: "json",
                contentType: "application/json",
                async: false,
                cache: false,
                success: function (result) {
                    if (result != null) {
                        $("#dtQuery tbody").empty("");
                        var credit = 0, debit = 0, start = 0, end = 0;
                        for (var i = 0; i < result.length; i++) {
                            if (i == 0) {
                                var starttemp = result[i].balance;
                                var creditfirst = result[i].creditAmount;
                                var debitfirst = result[i].debitAmount;
                                start = starttemp - creditfirst + debitfirst;
                            }
                            if (i == result.length - 1) {
                                end = result[i].balance;
                            }
                            credit += result[i].creditAmount;
                            debit += result[i].debitAmount;
                            $("#dtQuery").append("<tr><td>" + result[i].transDate + "</td>" +
                                "<td>" + result[i].debitAmount + "</td>" +
                                "<td>" + result[i].creditAmount + "</td>" +
                                "<td>" + result[i].balance + "</td>" +
                                "<td>" + result[i].reciprocalAccount + "</td>" +
                                "<td>" + result[i].reciprocalName + "</td>" +
                                "<td>" + ((result[i].outOrIn == "0") ? "否" : "是") + "</td>" +
                                "<td>" + ((result[i].isCash == "0") ? "否" : "是") + "</td>" +
                                "<td>" + result[i].tradeSummary + "</td>" +
                                "<td>" + result[i].summary + "</td>" +
                                "<tr>");
                        }
                        $("#txtCredit").val(credit);
                        $("#txtDebit").val(debit);
                        $("#txtStart").val(start);
                        $("#txtEnd").val(end);
                    }
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    );

    //去除千分位
    function delcommafy(num) {
        if (num.replace(/\s+/g, "").length == 0) {
            return "";
        }
        num = num.replace(/,/gi, '');
        return num;
    }

    function strIsNull(str) {
        if (str.length == 0 || str.replace(/\s+/g, "").length == 0 || !str) {
            return true;
        }
        return false;
    }
</script>
</body>
</html>