<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="res/img/galogo.png">

    <title>广安资金管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    <link href="res/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="res/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="res/stylesheet" href="css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="res/css/style.css" rel="stylesheet">
    <link href="res/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="res/js/html5shiv.js"></script>
    <script src="res/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<section id="container">
    <!--头部 start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo">广安<span>资金管理平台</span></a>

        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <!--<img alt="" src="img/avatar1_small.jpg">-->
                        <span class="username" id="usr" th:text="${u}"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{/FinancialManual(fid=1,sid=1)}"><i class=" icon-tasks"></i>财务管理手册</a></li>
                        <li><a th:href="@{/Download/Template}"><i class=" icon-download-alt"></i>明细模板下载</a></li>
                        <li><a href="#"><i class=" icon-cog"></i>设置</a></li>
                        <li><a href="doLogout"><i class="icon-key"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--头部 end-->

    <!--边栏 start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" th:href="@{/index}">
                        <i class="icon-dashboard"></i>
                        <span>主页</span>
                    </a>
                </li>

                <!--资金台账管理-->
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="icon-tasks"></i>
                        <span>资金台账</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/CapitalDetailInput}">资金台账录入</a></li>
                        <li><a  th:href="@{/CapitalDetailQuery}">资金台账查询</a></li>
                        <li><a  th:href="@{/CapitalDetailTotalQuery}">资金台账汇总查询</a></li>
                    </ul>
                </li>

                <!--资金预算管理-->
                <!--<li class="sub-menu">-->
                    <!--<a href="javascript:;" >-->
                        <!--<i class="icon-book"></i>-->
                        <!--<span>资金预算</span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a  th:href="@{/CapitalBudgetInput}">资金预算录入</a></li>-->
                        <!--<li><a  th:href="@{/CapitalBudgetQuery}">资金预算明细查询</a></li>-->
                        <!--<li><a  th:href="@{/CapitalBudgetTotalQuery}">资金预算汇总查询</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--边栏 end-->

    <!--主内容 start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            账号管理明细
                        </header>
                        <div class="panel-body">
                            <section id="unseen">
                                <table class="table table-bordered table-striped table-condensed" id="dtAll">
                                    <thead>
                                    <tr>
                                        <th>账号</th>
                                        <th>开户行</th>
                                        <th class="numeric">尾号</th>
                                        <th class="numeric">余额</th>
                                        <th class="numeric">最后更新时间</th>
                                    </tr>
                                    </thead>
                                        <tr th:each="detail:${listBalance}">
                                            <!--<td><a th:href="@{/DetailQuery(acc=${detail.accNum})}" th:text="${detail.accNum}"></a></td>-->
                                            <td><a th:href="@{/DetailQuery}" th:text="${detail.accNum}"></a></td>
                                            <td th:text="${detail.bankName}"></td>
                                            <td th:text="${detail.lastNum}"></td>
                                            <td th:text="${detail.balance}"></td>
                                            <td th:text="${detail.updateDate}"></td>
                                        </tr>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                            <div class="form-group">
                                <div class="col-sm-2 pull-right">
                                    <input type="text" class="form-control" disabled th:value="${balance}">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--主内容 content end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="res/js/jquery.js"></script>
<script src="res/js/jquery-1.8.3.min.js"></script>
<script src="res/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="res/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="res/js/jquery.scrollTo.min.js"></script>
<script src="res/js/respond.min.js" ></script>
<!--common script for all pages-->
<script src="res/js/common-scripts.js"></script>


<script th:inline="javascript">

    //owl carousel
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true,
            autoPlay:true
        });
    });

    //custom select box
    $(function(){
        $('select.styled').customSelect();
    });

</script>
</body>
</html>